<div class="text-center text-white" 
style="display: grid; position: absolute; top: 0; width: 100vw; height: 100%; place-items: center;">
    <main class="form-signin bg-dark">
        <form [formGroup] = "loginCuentaForm" (ngSubmit)="onSubmit()" >
          <i class="far fa-user"></i>
          <h1 class="h3 mb-3 fw-normal">{{title}}</h1>
    
          <div class="form-floating text-dark">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="usuario123">
            <label for="floatingInput">Email</label>
            <small
                [hidden]= "loginCuentaForm.controls['email'].valid"
                class="form-text text-danger text-uppercase">
                Ingrese un email valido.
            </small>
          </div>
          <div class="form-floating text-dark">
            <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="pass123">
            <label for="floatingPassword">Contrasenia</label>
            <small
                [hidden]= "loginCuentaForm.controls['password'].valid"
                class="form-text text-danger text-uppercase">
                Ingrese al menos 5 caracteres.
            </small>
          </div>
    
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Recuérdame
            </label>
          </div>
          <div class="d-flex align-items-between">
            <button [disabled]="!loginCuentaForm.valid" class="btn btn-lg btn-primary" type="submit">{{button_title}}</button>
            <button (click)="iniciarSesionAutomaticamente()" class="btn btn-lg btn-warning">Inicio Automatico</button>
          </div>
          <small
                class="form-text text-danger text-uppercase">
                {{errorInicioDeSesion}}
            </small>
          <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
    </main>
  </div>